<IfModule mod_rewrite.c>
	RewriteEngine On

	# ErrorDocument 404 https://ghdesign.dev/404.html

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	# RewriteRule ^home/?$ index.html [NC,L]

	RewriteRule ^en/?$ version-english.html [NC,L]
	RewriteRule ^politica-de-privacidade/?$ politica-de-privacidade.html [NC,L]
	RewriteRule ^privacy-policy/?$ privacy-policy.html [NC,L]
</IfModule>