@charset "UTF-8";
/**
 * Mixins
*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-black.woff2") format("woff2"), url("../fonts/montserrat-black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-italic.woff2") format("woff2"), url("../fonts/montserrat-italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  color-scheme: light dark;
  supported-color-schemes: dark light;
  transition: all 0.3s ease-in-out;
}

dark-mode-toggle {
  --dark-mode-toggle-light-icon: url(/assets/images/dark-mode.webp);
  --dark-mode-toggle-dark-icon: url(/assets/images/light-mode.webp);
  --dark-mode-toggle-icon-size: 2rem;
  filter: invert(1);
}
@media (min-width: 768px) {
  dark-mode-toggle {
    position: absolute;
    right: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #272eaf 0%, #b2222d 100%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active, ::-webkit-scrollbar-thumb:focus {
  background: #272eaf;
}

body {
  font-family: "Montserrat", "Roboto";
  background-color: var(--background-color);
  box-sizing: border-box;
  position: relative;
  color: var(--color-text);
}

#content {
  z-index: 0;
  position: relative;
  padding: 70px 0 4rem;
  overflow: hidden;
}
@media (min-width: 1400px) {
  #content {
    padding: 90px 0 4rem;
  }
}
@media (max-width: 767.98px) {
  #content.modal-full-height {
    max-height: 100vh;
    overflow: hidden;
  }
}

/* Titles and text */
:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 900;
}

@media (max-width: 767.98px) {
  .text-center-mobile {
    text-align: center;
  }
}
.gradient-underline {
  position: relative;
  margin-bottom: 2em;
}
@media (max-width: 767.98px) {
  .gradient-underline {
    display: flex;
  }
}
.gradient-underline:after {
  content: "";
  display: inline-block;
  height: 5px;
  background: linear-gradient(90deg, #272eaf 0%, #b2222d 100%);
  position: absolute;
  left: 0;
  bottom: -10px;
}
.gradient-underline.very-long-title {
  width: 30%;
  text-indent: -2em;
  margin-left: 2em;
}
.gradient-underline.very-long-title:after {
  width: 8em;
  transform: translateY(-1.5rem);
  margin: 0 6rem;
  bottom: -35px;
}
@media (max-width: 767.98px) {
  .gradient-underline.very-long-title {
    text-indent: -1.5em;
    width: 70%;
  }
}
.gradient-underline.short-title {
  width: 20%;
  margin-left: 0.5em;
}
.gradient-underline.short-title:after {
  width: 8em;
  margin: 0 2rem;
  left: 4em;
}
.gradient-underline.very-short-title {
  width: 20%;
  margin-left: 0.5em;
}
.gradient-underline.very-short-title:after {
  width: 5em;
  margin: 0 2rem;
  left: 1em;
}

.text-center {
  text-align: center;
}

.btn {
  transition: all 0.3s ease-in-out;
  padding: 1rem 2rem;
}
.btn.btn-gradient {
  border-color: #272eaf;
  color: var(--color-text);
}
.btn.btn-gradient:hover, .btn.btn-gradient:active, .btn.btn-gradient:focus {
  background: linear-gradient(90deg, #272eaf 0%, #b2222d 100%);
  font-weight: 900;
}
.btn.btn-outline-white {
  border-color: #fff;
  color: var(--color-text);
}
.btn.btn-outline-white:hover, .btn.btn-outline-white:active, .btn.btn-outline-white:focus {
  background: linear-gradient(90deg, #272eaf 0%, #b2222d 100%);
  font-weight: 900;
}
.btn.btn-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
.btn.btn-icon:hover, .btn.btn-icon:active, .btn.btn-icon:focus {
  transform: scale(1.1);
}
.btn.btn-icon .icon {
  max-height: 20px;
  max-width: 20px;
  margin-left: 15px;
  filter: var(--image-invert);
}

#cookie-banner {
  position: fixed;
  display: flex;
  z-index: 9999;
  right: calc(50% - 17.5vw);
  bottom: 1rem;
}
@media (max-width: 767.98px) {
  #cookie-banner {
    right: 0;
  }
}

.cookie-banner-popup {
  text-align: center;
  position: relative;
  padding: 0;
  background-color: var(--background-color);
  z-index: 9999;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 0px 5px 20px 3px var(--header-box-shadow);
}
@media (min-width: 992px) {
  .cookie-banner-popup {
    width: 35vw;
  }
}
@media (max-width: 767.98px) {
  .cookie-banner-popup {
    padding: 15px;
  }
  .cookie-banner-popup p {
    font-size: 0.785rem;
  }
  .cookie-banner-popup .btn {
    display: flex;
    margin: 0 auto;
  }
}
.cookie-banner-popup .modal-dialog {
  margin: 0 auto;
}
.cookie-banner-popup .modal-content {
  border: none;
  background-color: var(--background-color);
}

.error-page h1 {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.error-page .btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: fit-content;
}

#header {
  z-index: 2;
  width: 100vw;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
}
#header.nav-shrink {
  max-height: 65px;
  background-color: var(--header-background-color);
  backdrop-filter: contrast(1);
  box-shadow: 10px 5px 20px 3px var(--header-box-shadow);
}
@media (min-width: 1400px) {
  #header.nav-shrink {
    max-height: 70px;
  }
}
@media (min-width: 768px) {
  #header.nav-shrink dark-mode-toggle {
    top: 1rem;
  }
  #header.nav-shrink .language-item {
    height: 2rem;
  }
}
#header.nav-shrink .navbar-brand .image {
  height: 40px;
}
@media (min-width: 1400px) {
  #header.nav-shrink .navbar-brand .image {
    max-width: 2.5rem;
  }
}
#header.nav-shrink .navbar-brand .design {
  margin-top: 1.7rem;
  animation: logo-copy-hide 0.5s ease-in-out forwards;
}
#header.nav-expand {
  max-height: 90px;
}
@media (min-width: 1400px) {
  #header.nav-expand {
    max-height: 90px;
  }
}
@media (min-width: 768px) {
  #header.nav-expand dark-mode-toggle {
    top: 1.5rem;
  }
  #header.nav-expand .language-item {
    height: 3rem;
  }
}
#header.nav-expand .navbar-brand .image {
  height: inherit;
}
@media (min-width: 1400px) {
  #header.nav-expand .navbar-brand .image {
    max-width: 16rem;
  }
}
#header.nav-expand .navbar-brand .logo-animate-g path.stroke {
  animation: line-animation-g 2s ease-in-out 0.3s;
  animation-iteration-count: infinite;
}
#header.nav-expand .navbar-brand .logo-animate-g path.fill {
  animation: fill-animation-g 2s ease-in-out 0.2s;
  animation-iteration-count: infinite;
}
#header.nav-expand .navbar-brand .logo-animate-h path.stroke {
  animation: line-animation-h 2s ease-in-out 0.3s;
  animation-iteration-count: infinite;
}
#header.nav-expand .navbar-brand .logo-animate-h path.fill {
  animation: fill-animation-h 2s ease-in-out 0.3s;
  animation-iteration-count: infinite;
}
#header.nav-expand .navbar-brand .design {
  animation-direction: alternate;
}
#header.nav-expand .nav-link {
  grid-gap: 1rem;
}
#header .navbar {
  justify-content: space-between;
  height: 100%;
}
#header .navbar .navbar-collapse {
  justify-content: flex-end;
}
@media (max-width: 767.98px) {
  #header .navbar .navbar-collapse {
    padding: 1rem;
    background-color: var(--header-background-color);
  }
}
#header .navbar-brand {
  transition: all 0.3s ease-in-out;
  display: inline-flex;
}
#header .navbar-brand:hover, #header .navbar-brand:active, #header .navbar-brand:focus {
  transform: scale(0.9);
  opacity: 0.7;
}
@media (max-width: 767.98px) {
  #header .navbar-brand {
    max-width: 60%;
  }
}
#header .navbar-brand .image {
  transition: all 0.3s ease-in-out;
  width: fit-content;
}
@media (max-width: 767.98px) {
  #header .navbar-brand .image {
    max-width: 5rem;
  }
}
#header .navbar-brand .image path {
  transition: all 0.3s ease-in-out;
}
#header .navbar-brand .logo-animate-g path.stroke {
  stroke-dasharray: 352;
  stroke-dashoffset: 352;
}
#header .navbar-brand .logo-animate-h path.stroke {
  stroke-dasharray: 441;
  stroke-dashoffset: 441;
}
@keyframes line-animation-g {
  0% {
    opacity: 1;
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke: transparent;
  }
}
@keyframes fill-animation-g {
  0% {
    opacity: 0;
    stroke: transparent;
  }
  100% {
    opacity: 1;
    fill: url(#paint_g_fill);
  }
}
@keyframes line-animation-h {
  0% {
    fill: transparent;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke: transparent;
    fill: url(#paint_h_fill);
  }
}
@keyframes fill-animation-h {
  0% {
    opacity: 0;
    stroke: transparent;
  }
  100% {
    opacity: 1;
    fill: url(#paint_h_fill);
  }
}
#header .navbar-brand .design {
  font-size: 0.875rem;
  margin-top: 4rem;
  margin-left: 1rem;
  color: var(--color-text);
}
@media (max-width: 767.98px) {
  #header .navbar-brand .design {
    margin-top: 2rem;
  }
}
@keyframes logo-copy-hide {
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
#header .nav-item {
  min-width: 50px;
}
#header .nav-item.active {
  color: #5494da;
  font-weight: 900;
  text-shadow: 5px 5px 5px rgba(223, 88, 98, 0.6);
}
#header .nav-item.active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#header .nav-link {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767.98px) {
  #header .nav-link {
    padding: 0.5rem;
  }
}
#header .nav-link:after {
  content: "";
  display: block;
  height: 2px;
  width: 150%;
  transform: scaleX(0);
  background: linear-gradient(90deg, #272eaf 0%, #b2222d 100%);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#header .nav-link.active {
  color: #5494da;
  font-weight: 900;
  text-shadow: 5px 5px 5px rgba(223, 88, 98, 0.6);
}
#header .nav-link.active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#header .nav-link:hover, #header .nav-link:active, #header .nav-link:focus {
  color: #5494da;
  font-weight: 900;
  text-shadow: 5px 5px 5px rgba(223, 88, 98, 0.6);
}
#header .nav-link:hover:after, #header .nav-link:active:after, #header .nav-link:focus:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#header .language-item .dropdown-toggle {
  background: none;
  border: none;
}
#header .language-item .dropdown-menu {
  min-width: calc(100% + 1.5rem);
}
#header .language-item .image {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}
#header dark-mode-toggle {
  border-color: transparent;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
#header dark-mode-toggle:hover, #header dark-mode-toggle:active, #header dark-mode-toggle:focus {
  transform: scale(0.9);
}
#header dark-mode-toggle label:before {
  max-width: 25px;
  max-height: 25px;
}
#header .navbar-toggler-icon {
  filter: var(--image-invert);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-text);
  text-transform: uppercase;
}
.navbar-light .navbar-toggler {
  border-color: var(--color-text);
}

#footer {
  background-color: var(--footer-background-color);
  position: relative;
  z-index: 2;
  padding: 2rem 0;
}
#footer .footer-grid {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 767.98px) {
  #footer .footer-grid {
    display: grid;
  }
  #footer .footer-grid .copyright {
    text-align: center;
    margin-top: 1rem;
  }
}
#footer .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  grid-gap: 1rem;
}
@media (max-width: 767.98px) {
  #footer .navbar {
    justify-content: center;
  }
}
#footer .navbar .nav-link {
  transition: all 0.3s ease-in-out;
}
#footer .navbar .nav-link:hover, #footer .navbar .nav-link:active, #footer .navbar .nav-link:focus {
  transform: scale(0.9);
  opacity: 0.7;
}
#footer .navbar .icon {
  max-width: 40px;
  max-height: 40px;
  filter: var(--image-invert);
}

.home-page .initial-banner {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 4rem;
  place-items: center;
  padding: 4rem 0;
}
@media (max-width: 767.98px) {
  .home-page .initial-banner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 6rem 0;
    grid-gap: 0rem;
  }
  .home-page .initial-banner .banner-text {
    max-width: calc(100vw - 30px);
  }
}
.home-page .my-photo {
  position: relative;
  display: flex;
  justify-content: end;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
@media (min-width: 992px) {
  .home-page .my-photo {
    margin-right: 60px;
  }
}
.home-page .my-photo .image {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
  object-fit: contain;
}
@media (min-width: 992px) {
  .home-page .my-photo .image {
    max-height: 75vh;
    object-fit: contain;
  }
}
@media (max-width: 767.98px) {
  .home-page .my-photo .image {
    max-width: calc(100vw - 30px);
  }
}
.home-page .my-photo:hover .image, .home-page .my-photo:active .image, .home-page .my-photo:focus .image {
  filter: grayscale(1);
}
.home-page .my-photo:hover .light-effect, .home-page .my-photo:active .light-effect, .home-page .my-photo:focus .light-effect {
  filter: blur(2px);
}
.home-page .my-photo:hover .light-effect-before, .home-page .my-photo:active .light-effect-before, .home-page .my-photo:focus .light-effect-before {
  left: 0 !important;
}
.home-page .my-photo:hover .light-effect-after, .home-page .my-photo:active .light-effect-after, .home-page .my-photo:focus .light-effect-after {
  right: 50px !important;
}
.home-page .my-photo .light-effect {
  position: absolute;
  width: 500px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
@media (max-width: 767.98px) {
  .home-page .my-photo .light-effect {
    width: 350px;
  }
}
.home-page .my-photo .light-effect.light-effect-before {
  top: 25px;
  left: -50px;
  transform: rotatex(180deg);
  transition-delay: 0.1s;
  z-index: -1;
}
@media (max-width: 767.98px) {
  .home-page .my-photo .light-effect.light-effect-before {
    height: 300px;
    left: -70px;
    top: -40px;
  }
}
.home-page .my-photo .light-effect.light-effect-after {
  bottom: -50px;
  right: -50px;
  transition-delay: 0.3s;
}
@media (max-width: 767.98px) {
  .home-page .my-photo .light-effect.light-effect-after {
    right: -30px;
    bottom: -30px;
  }
}

@media (max-width: 767.98px) {
  .projects-section {
    overflow: hidden;
  }
}
.projects-section .section-grid {
  grid-gap: 2rem;
}
@media (min-width: 992px) {
  .projects-section .section-grid {
    margin: 0 2px 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (max-width: 767.98px) {
  .projects-section .section-grid {
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - 30px);
    margin: 0 auto 2rem;
  }
}
.projects-section .project-item {
  transition: all 0.3s ease-in-out;
  position: relative;
  height: fit-content;
  cursor: pointer;
}
.projects-section .project-item:before, .projects-section .project-item:after {
  background: linear-gradient(90deg, #272eaf 0%, #b2222d 100%);
}
.projects-section .project-item:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: 0;
  background: linear-gradient(90deg, #272eaf 0%, #b2222d 100%);
}
.projects-section .project-item:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: 0;
  filter: blur(5px);
  background: linear-gradient(90deg, #272eaf 0%, #b2222d 100%);
}
@media (min-width: 992px) {
  .projects-section .project-item.mansonry {
    grid-row: span 2;
  }
}
.projects-section .project-item:hover .image, .projects-section .project-item:active .image, .projects-section .project-item:focus .image {
  opacity: 0.1;
  transform: scale(1.05);
}
.projects-section .project-item:hover .project-text, .projects-section .project-item:active .project-text, .projects-section .project-item:focus .project-text {
  opacity: 1;
}
.projects-section .project-item .project-link {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  z-index: 1;
  padding: 1rem;
}
.projects-section .project-item .image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.projects-section .project-item .project-text {
  opacity: 0;
  color: var(--color-text);
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.3s ease-in-out;
  max-width: 90%;
}
.projects-section .project-item .project-description {
  font-style: 0.875rem;
  font-style: italic;
}

@media (min-width: 992px) {
  .about-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-items: center;
    padding-bottom: 4rem;
  }
  .about-section .section-description a br {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .about-section {
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - 30px);
    margin: 2rem auto 0;
    text-align: center;
  }
  .about-section .section-text {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .about-section .btn {
    max-width: fit-content;
    margin: 0 auto;
  }
}
.about-section .section-link .section-description {
  text-align: center;
}

.content-modal {
  background: linear-gradient(90deg, #272eaf 0%, #b2222d 100%);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  will-change: transform, opacity;
  overflow: auto;
}
@media (max-width: 767.98px) {
  .content-modal {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    max-height: fit-content;
    overflow: hidden;
  }
}
.content-modal.start-d-none {
  display: none;
}
.content-modal.close-modal {
  animation: hide-modal 0.5s cubic-bezier(0.89, 0.03, 0.58, 1) forwards;
  pointer-events: none;
  transform: translateX(130vw);
}
.content-modal.open-modal {
  animation: show-modal 1s cubic-bezier(0.89, 0.03, 0.58, 1) forwards;
}
@media (min-width: 992px) {
  .content-modal#coristina-lp-content .images-content .image, .content-modal#nebacetin-content .images-content .image, .content-modal#eparema-content .images-content .image, .content-modal#buscofem-lp-dores-content .images-content .image {
    grid-column: 1/span 2;
  }
}
.content-modal#priscila-kiguchi–microfisioterapia-content .image, .content-modal#integracao-content .image {
  grid-column: 1/span 2;
}
@media (max-width: 767.98px) {
  .content-modal#priscila-kiguchi–microfisioterapia-content .information-content, .content-modal#integracao-content .information-content {
    margin-left: 0;
    margin-right: 0;
  }
  .content-modal#priscila-kiguchi–microfisioterapia-content .information-content .section-title, .content-modal#integracao-content .information-content .section-title {
    hyphens: auto;
  }
}
@media (max-width: 767.98px) {
  .content-modal#acessibilidade-e-usabilidade-content .information-content, .content-modal#revista-master-content .information-content {
    padding-top: 5rem;
  }
}
@media (max-width: 767.98px) {
  .content-modal#interacao-humano-computador-content .section-title {
    text-indent: 0;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .content-modal#afronte-content .section-title:after {
    transform: translateY(0);
    margin: 0 0 -1rem -2rem;
  }
}
@keyframes hide-modal {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(130vw);
  }
}
@keyframes show-modal {
  0% {
    transform: translateX(130vw);
  }
  100% {
    transform: translateX(0);
  }
}
.content-modal .loader {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 10000;
  animation: hide-loader 2.5s ease-in-out 1s forwards;
}
@media (max-width: 767.98px) {
  .content-modal .loader {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.content-modal .loader.no-opacity {
  opacity: 0;
  display: none;
}
.content-modal .loader-icon {
  filter: var(--image-invert);
}
@keyframes hide-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.content-modal .images-content {
  padding: 4rem 0;
}
@media (min-width: 992px) {
  .content-modal .images-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    min-height: 100vh;
    grid-column: 1;
  }
}
@media (max-width: 767.98px) {
  .content-modal .images-content {
    position: relative;
  }
  .content-modal .images-content .pdf {
    display: none;
  }
}
.content-modal .images-content.bg-red {
  background-color: rgba(178, 34, 45, 0.5);
}
.content-modal .images-content.bg-blue {
  background-color: rgba(39, 46, 175, 0.5);
}
.content-modal .images-content .section-grid {
  margin: 0 1.5rem;
  padding-bottom: 3rem;
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: dense;
}
@media (min-width: 992px) {
  .content-modal .images-content .section-grid {
    margin: 0 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.content-modal .images-content .image {
  max-width: 100%;
  object-fit: contain;
  box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.4);
}
@media (min-width: 1400px) {
  .content-modal .images-content .image {
    width: 100%;
    height: auto;
  }
}
.content-modal .images-content .slides {
  border: 1px solid #CCC;
  max-width: 100%;
  box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.4);
}
@media (min-width: 992px) {
  .content-modal .images-content .slides {
    grid-column: 1/span 2;
  }
}
@media (min-width: 992px) {
  .content-modal .images-content .btn-outline-white {
    grid-column: 1/span 2;
    max-width: fit-content;
    margin: 0 auto;
  }
}
.content-modal .images-content .video,
.content-modal .images-content .pdf {
  max-width: 100%;
  box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.4);
}
@media (min-width: 992px) {
  .content-modal .images-content .video,
  .content-modal .images-content .pdf {
    grid-column: 1/span 2;
  }
}
@media (min-width: 992px) {
  .content-modal .images-content .mansonry {
    margin-top: 5rem;
    grid-row: span 2;
  }
}
.content-modal .information-content {
  background-color: var(--background-color);
  padding: 3rem 1rem 1rem;
}
@media (min-width: 992px) {
  .content-modal .information-content {
    top: 0;
    position: sticky;
    height: 100%;
    min-height: fit-content;
    grid-column: 2;
    padding: 1rem;
  }
}
.content-modal .information-content .section-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 992px) {
  .content-modal .information-content .section-text {
    height: 100vh;
  }
}
@media (max-width: 767.98px) {
  .content-modal .information-content .section-text .desktop {
    display: none;
  }
}
@media (min-width: 992px) {
  .content-modal .information-content .section-text .mobile {
    display: none;
  }
}
.content-modal .titulo-curto .section-title {
  max-height: 45px;
}
.content-modal .section-title:after {
  content: "";
  display: inline-block;
  max-width: 10em;
  width: 100%;
  height: 5px;
  transform: translateY(-1.5rem);
  margin: 0 6rem;
  background: linear-gradient(90deg, #272eaf 0%, #b2222d 100%);
}
.content-modal .section-title.very-long-title {
  min-width: 70%;
  margin-bottom: 0;
}
.content-modal .section-meta {
  font-size: 0.875rem;
  font-style: italic;
}
@media (max-width: 767.98px) {
  .content-modal .section-meta {
    margin: 1rem 0;
  }
}
.content-modal .btn-close-modal {
  max-width: 50px;
  max-height: 50px;
  background-color: transparent;
  border-color: transparent;
  font-size: 25px;
  color: var(--color-text);
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 1;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}
.content-modal .btn-close-modal:hover, .content-modal .btn-close-modal:active, .content-modal .btn-close-modal:focus {
  opacity: 0.7;
}/*# sourceMappingURL=main.css.map */